  /* --- */
  /* App */
  /* --- */

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

  * {
    padding: auto;
  }

  body {
    background-color: #110831;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;

  }


  /* --------- */
  /* Preloader */
  /* --------- */

  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #0c0513;
    background-image: url(./Assets/pre.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  #preloader-none {
    opacity: 0;
  }

  #no-scroll {
    overflow: hidden;
    height: 100vh;
  }


  /* --------- */
  /* Scrollbar */
  /* --------- */

  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #2d1950;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b279d8f5;
    border-radius: 12px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #de82ebe8;
    border-radius: 12px;
  }


  /* ------ */
  /* NavBar */
  /* ------ */

  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #110831;
  }


  .model .model-dialog {
    display: flex;
  }

  /* ----- */
  /* Login */
  /* ----- */

  #signup-modal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }

  .login {
    background-color: white;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #b279d8f5;
  }

  .login-label {
    color: #b279d8f5;
  }

  .form-input {
    color: lightslategray;
  }


  .modal-header {
    padding: 4px;
    background-color: white;
  }

  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
    background-color: #b279d8f5;
    margin: 5px;
    border: none;
  }

  .btn:hover {
    background-color: #b279d8f5;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #b279d8f5;
    padding: 5px;
    font-size: medium;
  }

  .nav-pills .nav-link {
    border-radius: var(--bs-nav-pills-border-radius);
    color: black;
    font-size: medium;
  }


  /* ------ */
  /* Signup */
  /* ------ */

  .signup {
    background-color: white;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #b279d8f5;
  }


  /* --------- */
  /* Searchbar */
  /* --------- */

  .searched-results {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .searched-movies {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .searched-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
  }


  /* ----- */
  /* Posts */
  /* ----- */

  .posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .posts-content {
    justify-content: center;
  }

  .postform-content,
  .postlist-content {
    border-radius: 15px;
    align-items: center;
  }

  .postform-title,
  .postlist-title {
    color: #b79fe0;
  }

  .mb-3 {
    color: aqua;
  }


  /* ---- */
  /* Feed */
  /* ---- */

  .feed-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .feed-content {
    border: #fff1ea 1px solid;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* --- */
  /* Media Queries */
  /* --- */

  @media (max-width: 768px) {}