  /* --- */
  /* App */
  /* --- */
  * {
    padding: auto;
  }

body {
  background: black;
}

  /* --------- */
  /* Preloader */
  /* --------- */
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #0c0513;
    background-image: url(./Assets/pre.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #preloader-none {
    opacity: 0;
  }
  
  #no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  


  /* --------- */
  /* Scrollbar */
  /* --------- */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2d1950;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(178, 121, 216, 0.959);
    border-radius: 12px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(222, 130, 235, 0.911);
    border-radius: 12px;
  }


  /* ------ */
  /* NavBar */
  /* ------ */
  .navbar {
    display: flex;
    justify-content: space-between;
  }


  /* ------ */
  /* Footer */
  /* ------ */
  .footer {
    background-color: rgb(222, 139, 255);
    display: flex;
    justify-content: space-between;
  }


  /* ----- */
  /* Login */
  /* ----- */
  .login {
    background-color:  #fff1ea;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  } 


  /* ------ */
  /* Signup */
  /* ------ */
  .signup {
    background-color:  #fff1ea;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  } 
  /* ---- */
  /* Home */
  /* ---- */
  #home {
    background-color:  black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  } 


  /* ---- */
  /* Feed */
  /* ---- */
  #feed {
    background-color: #fff1ea;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  } 


  /* --------- */
  /* Dashboard */
  /* --------- */
  #dashboard {
    background-color:  #fff1ea;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  } 


  .movies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .popular-movies {
    padding: 1rem;
  }
  
  .MovieItem {
    margin: 1rem;
  }