@import
url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.dashboard-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}

.mydashboard{
    background-color: rgb(222, 199, 250);
    border-radius: 15px;
    align-items: center;
    height: fit-content;
}

.username{
    color: black;
    font-weight: 500;
    padding: 1em 1em 0 .7em;
}

.fav-genre{
    color: black;
    font-weight: 500;
    padding: 1em;
}

.bio{
    color: black;
    font-weight: 500;
    padding: 0 1em 0;
}

.dashboard-title {
    color: #2d1950;
    margin-top: -5%;
}

.dashboard-info{
    color: #f0ffdee8;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    margin-top: 5%;
}

.input-label{
    color: #2d1950;
    padding: 1em;
}
.input-label input{
    color: #2d1950;
}

.mywatchlist {
    background-color: rgb(222, 199, 250);
    border-radius: 15px;
    color: #2d1950;
}
  
.hidden {
    display: none !important;
}

td{
    text-align: center;
    vertical-align: middle;
}
th{
    text-align: center;
    vertical-align: middle;
}

.poster-container-watched{
    width: 5rem;
}

.poster-watched{
    width: 5rem;
}

.overview{
    font-size:x-small;
    font-weight: bold;

}
.movie-title{
    font-size: small;
    font-weight: bolder;
}



