.dashboard {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.username{
    color: black;
    font-weight: 500;
    padding: 1em 1em 0 .7em;
    font-family: 'Roboto Condensed', sans-serif;
}

.fav-genre{
    color: black;
    font-weight: 500;
    padding: 1em;
    font-family: 'Roboto Condensed', sans-serif;
}

.bio{
    color: black;
    font-weight: 500;
    padding: 0 1em 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.dashtitle {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2d1950;
    margin-top: -5%;
}

.dashinfo{
    font-family: 'Roboto Condensed', sans-serif;
    color: #f0ffdee8;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    margin-top: 5%;
}

.watchlist{
    color: #2d1950;
    font-family: 'Roboto Condensed', sans-serif;
}

.content1{
    background-color: rgb(222, 199, 250);
    border-radius: 15px;
    width:fit-content;
    height: fit-content;
}

.content2 {
    background-color: rgb(222, 199, 250);
    border-radius: 15px;
}
  
.hidden {
    display: none !important;
}

.poster-container-watched{
    width: 5rem;
}

.poster-watched{
    width: 5rem;
}

td{
    text-align: center;
    vertical-align: middle;
}
th{
    text-align: center;
    vertical-align: middle;
}

.overview{
    font-size:x-small;
    font-weight: bold;

}
.movie-title{
    font-size: small;
    font-weight: bolder;
}

.input-label{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2d1950;
    padding: 1em;
}
.input-label input{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2d1950;
}


