  /*! --------- */
  /*! Dashboard */
  /*! --------- */

  .dashboard-container {
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 100vh;
      width: 100vw;
  }

  /*! --- */
  /*! Profile Component */
  /*! --- */

  .profile-info-container {
      width: 100vw;
      margin: 50px;
      padding-top: 50px;
  }

  .profile-info {
      color: white;
      font-size: 18px;
      display: flex;
      align-items: center;
  }

  .avatar-container {
      display: flex;
      justify-content: center;
  }

  .user-avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-right: 50px;
  }

  .user-heading {
      width: 445px;
  }

  .username {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 5px;
      border-bottom: solid white 1px;
      padding-bottom: 5px;
  }

  .edit-btn {
      margin: 3px;
      padding: 2px 2px;
      font-size: 14px;
      font-weight: 300;
      text-decoration: underline;
  }

  .fav-genre,
  .bio {
      font-weight: 400;
      margin: 8px 0px;
  }

  /*! --- */
  /*! Edit Modal */
  /*! --- */

  .input-label {
      color: #2d1950;
      padding: .5rem;
  }

  .input-label input {
      color: #2d1950;
      padding: .5rem;
  }

  .hidden {
      display: none !important;
  }

  /*! --- */
  /*! Watched List */
  /*! --- */

  .watchlist-title {
      font-size: 22px;
      color: #b279d8f5;
  }



  /*! ---- */
  /*! Watched List Card */
  /*! --- */

  .watchlist-card {
      border-top: solid white 3px;
      height: 25vh;
      padding: 15px 0px;
  }

  .card-contents {
    display: flex;
  }

  div>.card-body {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    padding: 2px 15px;
  }

  .card-img {
      border: solid #6c757d 2px;
  }

  .card-title,
  .card-subtitle {
      color: white;
  }

  .info-icon,
  .delete-icon {
    margin: 0px 10px;
  }

  /*! -- */
  /*! Media Queries */
  /*! --- */

  @media screen and (max-width: 768px) {

      .user-info {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
      }

      .user-heading {
          width: 300px;
          text-align: center;
      }

      .user-avatar {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: 0px 0px 5px 0px;
      }

      .profile-info {
          flex-direction: column;
          text-align: center;
      }
  }