  /* ------ */
  /* Movies */
  /*------- */

  .movies-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 1.75rem;
  }

  .movie-card {
    width: 17rem;
  }

/** --- */
/** Media Queries  */
/**  */

@media (max-width: 768px) {

.movies-grid {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: .75rem;
}

.movie-card {
  width: 10rem;
}

#card-title {
  font-size: 14px;
}

.card-text {
  font-size: 11px;
}

}